<!-- index.nunjucks -->
{% extends "layout.njk" %}


{% block content %}
<br>

{% import 'macros/nav-macro.njk' as nav %}
<!-- Creating the navigation with activePage = 'home' -->
{{nav.active('home')}}



<div class="gallery">
<!-- Loops through "images" array -->
	{% for image in images %}
	<div class="gallery__item">
		<img src="{{image.src}}" alt="{{image.alt}}">
	</div>
	{% endfor %}
</div>


<div class="testing"></div>


{% endblock %}