{% macro active(activePage='home') %}
<nav>
	<a href="/" class="{%if activePage == 'home' %}active{% endif
	%}">Home</a>

	<a href="About.html" class="{%if activePage == 'about' %}active{% endif
	%}">About</a>

	<a href="Contact.html" class="{%if activePage == 'contact' %}active{% endif
	%}">Contact</a>
</nav>
{% endmacro %}